# vim: ft=sh
# Databases config
## Redis
CELERY_BROKER_URL="redis://redis:6379"
## Postgresql
DB_DATABASE="helios"
DB_NAME="helios"
DB_PASSWORD="123replaceme"
DB_USER="helios"
DB_PORT="5432"
DB_HOST="database"

# Django config
## url host
URL_HOST="http://localhost:8000"
ALLOWED_HOSTS="*"
## Authentication 
AUTH_ENABLED_SYSTEMS="password"
AUTH_DEFAULT_AUTH_SYSTEM="password"

# MAIl configuration
DEFAULT_FROM_EMAIL="youremail@foo"
DEFAULT_FROM_NAME="Your name"
EMAIL_HOST="your provider"
EMAIL_PORT="25"

# Deploy configuration
WEBSERVER_MODE="PRODUCTION" # can be PRODUCTION, DEVELOPMENT or CELERY
#SECRET_KEY="replaceme"

# Site configs
#SITE_TITLE="elections"
#MAIN_LOGO_URL=./static/caad.png
#FOOTER_LINKS='[https://github.com/odairmario/helios-server]'
#HELP_EMAIL_ADDRESS="omdj17@inf.ufpr.br"
